html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  width: auto;
  padding: 70px;
  background-size: cover;
  background-image: url("../images/header.jpg");
  background-attachment: fixed;
  display: block;
}


/* ここから */
header {
  height: 50px;
  background-color: #2b2b2b;
}

header ul {
  margin-left: 0 ;
}

header ul a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 19px
}

header li {
  list-style: none;
}

.left {
  float: left;
}


.top_right {
  float: right;
  height: 20px;
}

.right {
  float: left;
}

/* ここまでがheader部分の実装 */

.main-header img {
  /* main画像（白い「Achieve」の文字の画像）部分の実装 */
  width: 13%;
  margin: 0 auto;
}

.about {
/* About Achieve部分の実装 */
  font-size: 1.5rem;
}

.about p {
  font-size: 0.8rem;
}

/* ここから */
.function {
  background-color: #d3d3d3;
  height: 400px;
  width: 100%;
  display: block;
  bottom: 0;
}

.function-images {
  margin: auto;
  height: 50%;
  width: 50%;
}


.function-image {
  float: left;
  height: auto;
  padding-left: 20px;
  margin: 20px;
}
/* ここまでがfunction部分の実装 */

footer {
  /* footer部分の実装 */
  height: 70px;
  background-color: #283a4b;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

footer p {
  font-size: 0.8rem;
  color: #fff;
  text-align: center;
  nargin-top:100px;
  display: block;
}